* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    text-align: center;
    border: red solid 3px;
    margin: 10px;
    height: 700px;
    width: 500px;
}

.image_wrap {
    height: 500px;
    width: inherit;
    object-fit: cover;
}

.image {
    height: inherit;
    width: inherit;
}

.name {
    font-family: Arial;
    font-size: 3rem;
    color: red;
}

.designer {
    font-family: "Times New Roman";
    font-size: 3rem;
    color: #000;
}

.style {
    font-family: Helvetica;
    font-size: 3rem;
    color: #000;
}

.year {
    font-family: Beirut;
    font-size: 5rem;
    color: yellowgreen;
}